<div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="@Url.Action("viewCart","Cart")" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>@ViewBag.AllCount items in cart</span></a></div>

